body,
html {
	width: 100%;
	height: 100%;
	font-family: 'Montserrat', sans-serif;
	background: url(header.jpg) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

h1 {
	font-size: 3rem;
	color: white;
}

hr {
	border: 2px solid #dc3545;
	max-width: 65px;
	margin: auto;

}

.buffer {
	height: 10rem;
}

.buffer2 {
	height: 1rem;
}

.btn {
	font-weight: 700;
	text-transform: uppercase;
}

.btn-primary {
	background-color: #dc3545;
	border-color: #dc3545;
	border-radius: 300px;
}

.btn-primary:hover {
	background-color: #dc3545;
	border-color: #dc3545;
	
}

.bt-xl {

	padding: 1rem 2rem;
}

